@page
@model T3.Areas.Courses.Pages.CourseCreateModel

@{
    ViewData["Title"] = "CourseCreate";
}

<h1>CourseCreate</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                @*@for (var i = 0; i < Model.VwCourse.Instructors.Count(); i++)
                    {
                        <tr>
                            <td><input type="hidden" asp-for="VwCourse.Instructors[i].Id" /></td>-->
                            <td><input asp-for="VwCourse.Instructors[i].Checked" /></td>
                        </tr>
                    }*@

                @* use Tokenize2,
                    1.how to Display Dropdown on focus? #12 https://github.com/dragonofmercy/Tokenize2/issues/12
                    2.how to use select tag helper and auto data binding
                *@
                <select asp-for="VwCourse.InstructorsIdList" asp-items="@Model.VwCourse.InstructorsSelectList"></select>
                <span asp-validation-for="VwCourse.InstructorsIdList" class="text-danger"></span>
                <script>
                    //set tokenize2 sortable: 即可以拖拽、排序
                    $('#VwCourse_InstructorsIdList').tokenize2({
                        sortable: true
                    });

                    //set the tokenize2 dropdown when focused
                    $('#VwCourse_InstructorsIdList').on('tokenize:select', function (container) {
                        $(this).tokenize2().trigger('tokenize:search', [$(this).tokenize2().input.val()]);
                    });
                    //to get the data(selected item)
                    //.data() is jquery api: Store arbitrary data associated with the matched elements or return the value at the named data store for the first element in the set of matched elements.
                    $('#VwCourse_InstructorsIdList').on('tokenize:tokens:reorder tokenize:tokens:add', function () {
                        $('#tokenize-demo-console').html($(this).data('tokenize2').toArray().join(', '));
                        //$('#VwCourse_InstructorsList').val($(this).data('tokenize2').toArray().join(', '));
                        //keep the tokenize2 allways dropdown when focused
                        $(this).tokenize2().trigger('tokenize:search', [$(this).tokenize2().input.val()]);
                    });
                </script>
                <pre class="console"><code id="tokenize-demo-console"></code></pre>

            </div>
            <div class="form-group">
                <label asp-for="VwCourse.Name" class="control-label"></label>
                <input asp-for="VwCourse.Name" class="form-control" />
                <span asp-validation-for="VwCourse.Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="VwCourse.IsCyclic" /> @Html.DisplayNameFor(model => model.VwCourse.IsCyclic)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="VwCourse.Date" class="control-label"></label>
                <input asp-for="VwCourse.Date" class="form-control" />
                <span asp-validation-for="VwCourse.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VwCourse.StartTime" class="control-label"></label>
                <input asp-for="VwCourse.StartTime" class="form-control" />
                <span asp-validation-for="VwCourse.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VwCourse.EndTime" class="control-label"></label>
                <input asp-for="VwCourse.EndTime" class="form-control" />
                <span asp-validation-for="VwCourse.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VwCourse.Duration" class="control-label"></label>
                <input asp-for="VwCourse.Duration" class="form-control" />
                <span asp-validation-for="VwCourse.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
